{% extends 'main.html' %}
{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>


    <div class="row">
        {% for item in summary %}
        {% url item.url  as url %}
        <div class="col-xl-3 col-md-6">
            <div class="card shadow text-muted mb-4 border-light">
                <div class="card-header bg-primary text-white"><strong>{{item.title}}</strong></div>
                <div class="card-body bg-light text-center display-6"><h1>{{item.count}}</h1></div>
                <div class="card-footer bg-primary text-white d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="{{url}}">View {{item.title}}</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        {%endfor%}
        

    </div>


        
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                  <i class="bi bi-pie-chart-fill"></i>
                   Field - Pie Chart
                </div>
                <div class="card-body"><canvas id="piechart1" width="100%" height="40"></canvas></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                  <i class="bi bi-pie-chart-fill"></i>
                   Sample Point - Pie Chart
                </div>
                <div class="card-body"><canvas id="piechart2" width="100%" height="40"></canvas></div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable Example
        </div>
        <div class="card-body">
           
        </div>
    </div>
</div>
{% endblock content %}


{% block javascript %}

<script>
    var data = {
          labels: [
              {% for item in samplepoint_test %}'{{item.samplepoint__name}}',{%endfor%}
          ],
          datasets: [{
            label: 'New Label',
            data: [
              {% for item in samplepoint_test %}{{item.total}},{%endfor%}
            ],
            backgroundColor: [
              'rgb(255, 99, 132)',
              'rgb(54, 162, 235)',
              'rgb(255, 205, 86)'
                      ],
            hoverOffset: 6
          }]
        };
       
        var config = {
          type: 'doughnut',
          data: data,
        };
  
        var myChart = new Chart(
          document.getElementById('piechart2'),
          config
        );

</script>

<script>

  var data = {
        labels: [
            {% for item in field_test %}'{{item.well__field__name}}',{%endfor%}
        ],
        datasets: [{
          label: 'New Label',
          data: [
            {% for item in field_test %}{{item.total}},{%endfor%}
          ],
          backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)'
                    ],
          hoverOffset: 6
        }]
      };
     
      var config = {
        type: 'doughnut',
        data: data,
      };

      var myChart = new Chart(
        document.getElementById('piechart1'),
        config
      );

</script>

{%endblock javascript %}