{% extends 'main.html' %}
{% load static %}


{% block content %}
<div class="container-fluid px-4">
    <p class="display-6 mt-4">Dashboard</p>


    <div class="row">
        {% for item in summary %}
        {% url item.url  as url %}
        <div class="col-xl-3 col-md-6">
            <div class="card shadow text-muted mb-4 border-light">
                <div class="card-header bg-primary text-white"><strong>{{item.title}}</strong></div>
                <div class="card-body bg-light text-center display-6"><h1>{{item.count}}</h1></div>
                <div class="card-footer bg-primary text-white d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="{{url}}">View {{item.title}}</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        {%endfor%}
        

    </div>
    
    <div class="row mb-2">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Map
          </div>
          <div class="card-body">
            <div id="map" class="m-n3" style="height:400px"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-xl-4">
          <div class="card mb-4">
              <div class="card-header">
                <i class="bi bi-pie-chart-fill"></i>
                 Field - Pie Chart
              </div>
              <div class="card-body"><canvas id="field-piechart" width="100%" height="40"></canvas></div>
          </div>
      </div>
      <div class="col-xl-4">
          <div class="card mb-4">
              <div class="card-header">
                <i class="bi bi-pie-chart-fill"></i>
                 Sample Point - Pie Chart
              </div>
              <div class="card-body"><canvas id="sp-piechart" width="100%" height="40"></canvas></div>
          </div>
      </div>
      <div class="col-xl-4">
        <div class="card mb-4">
            <div class="card-header">
              <i class="bi bi-pie-chart-fill"></i>
               Field - Pie Chart
            </div>
            <div class="card-body"><canvas id="piechart3" width="100%" height="40"></canvas></div>
        </div>
    </div>
  </div>

</div>

{% endblock content %}


{% block javascript %}

{{ wells|json_script:"wells" }}


<script>

  var sp_labels = [
              {% for item in samplepoint_test %}'{{item.samplepoint__name}}',{%endfor%}
          ];

  var sp_data = [
              {% for item in samplepoint_test %}{{item.total}},{%endfor%}
            ];

  var field_labels= [
        {% for item in field_test %}'{{item.well__field__name}}',{%endfor%}
    ];

  var field_data = [
        {% for item in field_test %}{{item.total}},{%endfor%}
      ];
</script>

<script src="{% static 'js/dashboard-map.js' %}"></script>
<script src="{% static 'js/field-piechart.js' %}"></script>
<script src="{% static 'js/sp-piechart.js' %}"></script>

{%endblock javascript %}

