{% extends 'main.html' %}

{%block content%}

<div class="shaodw m-4 ">
    <div>
        <p class="badge rounded-pill bg-secondary">Fields</p>
        <a href="{% url 'field-create' %}" class="btn btn-primary btn-sm rounded shadow"><i class="bi bi-plus-circle"></i> Add New</a>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Fields
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Country</th>
                        <th>No. of Wells</th>
                        <th>Updated</th>
                        <th>Created</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Country</th>
                        <th>No. of Wells</th>
                        <th>Updated</th>
                        <th>Created</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for field in fields%}
                    <tr>
                        <td>{{field.name}}</td>
                        <td>{{field.country.name}}</td>
                        <td>{{field.c_count}}</td>
                        <td>{{field.updated}}</td>
                        <td>{{field.created}}</td>
                        <td>
                            <div class="btn-group">
                                <a href="" class="btn btn-primary btn-sm" title="View Wells"><i class="bi bi-eye"></i></a>
                                <a href="{% url 'field-update' field.id %}" class="btn btn-secondary btn-sm" title="Edit"><i class="bi bi-pencil"></i></a>
                                <a href="{% url 'field-delete' field.id %}" class="btn btn-danger btn-sm" titile="Delete"><i class="bi bi-trash"></i></a>
                                <a href="{% url 'well-create' field.id %}" class="btn btn-info btn-sm" title="Add Well"><i class="bi bi-plus-square"></i></a>
                            </div>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>

</div>

{%endblock%}