{% load static %}

 <footer>
    <div class="d-block bg-dark">
        <div class="d-flex p-1 text-white">
            <div class="badge rounded-pill bg-primary">
                {{request.user.username}} - {{request.user.get_full_name}}
            </div>

            <div class="d-flex d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <a href="{% url 'test' %}" class="btn btn-sm btn-primary shadow-sm">Tests</a>
            </div>

        </div>
    </div>
</footer>