{% load static %}
    
        <nav class="navbar navbar-expand navbar-dark bg-dark shadow-sm">
            <div class="container-fluid">
              <a class="navbar-brand ps-3" href="{% url 'dashboard' %}">Water Analysis</a>
              <div class="collapse navbar-collapse" >
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
                  </li>
                
                  {% comment "Well Menue" %}{% endcomment %}
                  <li class="nav-item dropdown"> 
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Wells
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'country' %}">Country</a>
                      <a class="dropdown-item" href="{% url 'field' %}">Field</a>
                      <div class="dropwdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'well' %}">Wells</a>
                    </div>
                  </li>

                  {% comment "Test Menue" %}{% endcomment %}

                  <li class="nav-item dropdown"> 
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Tests
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'test' %}">Tests</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'analysis' %}">Analysis</a>
                      <a class="dropdown-item" href="{% url 'metadata' %}">Properties</a>
                      <a class="dropdown-item" href="{% url 'samplepoint' %}">Sample Point</a>
                      
                    </d>
                  </li>

                  {% comment "Settings Menue" %}{% endcomment %}
                  <li class="nav-item dropdown"> 
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Settings
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="{% url 'stifftemplate' %}">Stiff Diagram</a></li>
            
                    </ul>
                  </li>

                </ul>

          

                <div class="d-md-inline-block justify-content-end">
                    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4 navbar-dark">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle d-6" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-circle"></i> {{request.user.get_full_name}} </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'profile' %}"><i class="bi bi-person-badge"></i> Profile</a>
                                {% if request.user.is_superuser %}
                                <a class="dropdown-item" href="{% url 'user' %}"><i class="bi bi-people"></i> Users</a>
                                {%endif%}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}"><i class="bi bi-box-arrow-right"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>

              </div>
            </div>
          </nav>
