{% load static %}
<div class="d-flex" id="">
    <nav class="shadow" id="">
        <div class="">
            <div class="nav">
                {% comment %} <div class="sb-sidenav-menu-heading">Core</div> {% endcomment %}
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <div><i class="bi bi-journal-richtext"></i></div>
                    Dashboard
                </a>

                <div class="sb-sidenav-menu-heading">Menue</div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="bi bi-droplet-half"></i></div>
                    Wells
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="{% url 'country' %}">Country</a>
                        <a class="nav-link" href="{% url 'field' %}">Fields</a>
                        <a class="nav-link" href="{% url 'well' %}">Wells</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayoutsAnalysis" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="bi bi-eyedropper"></i></div>
                    Tests
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayoutsAnalysis" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="{% url 'analysis' %}">Analysis</a>
                        <a class="nav-link" href="{% url 'metadata' %}">Properties</a>
                        <a class="nav-link" href="{% url 'samplepoint' %}">Sample Point</a>
                        <a class="nav-link" href="{% url 'test' %}">Tests</a>

                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayoutsSettings" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="bi bi-sliders"></i></div>
                    Settings
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayoutsSettings" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="{% url 'stifftemplate' %}">Stiff Diagram</a>
                      

                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts1" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="bi bi-people-fill"></i></div>
                    Admin
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts1" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="{% url 'user' %}">Users</a>
                    </nav>
                </div>
            </div>
        </div>

        <div class="sb-sidenav-footer ">
            <div class="small">Logged in as:</div>
            <div class="badge rounded-pill bg-secondary">
                {{request.user.username}} - {{request.user.get_full_name}}
            </div>
        </div>
    </nav>
</div>